*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #111010;
    margin-bottom: 5px;
}
h1{
    padding: 30px;
    text-align: center;
    color: #ffffff;
}
span{
    background-color: gray;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
}
menu{
    display: none;
}
menu ul{
    background-color: lightgrey;
    text-align: center;
    list-style: none;
}
menu ul li{
    border: 1px solid black;
    padding: 3px;
}
li:hover{
    background-color: gray;
}
a{
    color: #000000;
    text-decoration: none;
}
main{

    text-align: justify;
    max-width: 450px;
    display: block;
    margin: auto;
    background-color: antiquewhite;
    padding: 1px 10px;
    border-radius: 5px;
}